{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Consumed crops by household</title>
{% endblock %}

{% block main_section %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
  $(function() {
    $( "#id_date" ).datepicker({
		onSelect: function() {
        	$('#consumedcrop_by_household_form').formValidation('revalidateField', 'date');
    }
        })
  });
    
</script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    

    <form class="well form-horizontal" action=" " method="post"  id="consumedcrop_by_household_form">{% csrf_token %} 

<!-- Form Name -->
<fieldset>
<legend>Portion of the produce consumed..</legend>

{% if user_village %}
<input type="hidden" id="uservillage" name="uservillage" value="{{user_village}}" readonly='readonly' />
{% elif researcher %}
<input type="hidden" id="researcher" name="researcher" value="{{researcher}}" readonly='readonly' />
{% elif user_country %}

{% endif %}
<label class="warning" for="message" id="message" align='center' style="color: red"><small><i>{{message}}</i></small></label>

<div class="form-group"> 
    {{ consumedcropbyhouseholdform.date.errors }}
    <label for="date" class="col-md-4 control-label">Date:</label>
        <div class="col-md-4 selectContainer">
		  <div class="input-group">
        {{ consumedcropbyhouseholdform.date }}<span class="input-group-addon"></span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ consumedcropbyhouseholdform.farm.errors }}
    <label for="farm" class="col-md-4 control-label">Farm:</label>
        <div class="col-md-4 selectContainer">
        {{ consumedcropbyhouseholdform.farm }}
        </div>
</div>


<div class="form-group"> 
    {{ consumedcropbyhouseholdform.plotID.errors }}
    <label for="plotID" class="col-md-4 control-label">Plot:</label>
        <div class="col-md-4 selectContainer">
        {{ consumedcropbyhouseholdform.plotID }}
        </div>
</div>

<div class="form-group"> 
    {{ consumedcropbyhouseholdform.where_consumed.errors }}
    <label for="where_consumed" class="col-md-4 control-label">Where as it consumed:</label>
        <div class="col-md-4 selectContainer">
        {{ consumedcropbyhouseholdform.where_consumed }}
        </div>
</div>

<div class="form-group"> 
    {{ consumedcropbyhouseholdform.how_consumed.errors }}
    <label for="how_consumed" class="col-md-4 control-label">How was it consumed:</label>
        <div class="col-md-4 selectContainer">
        {{ consumedcropbyhouseholdform.how_consumed }}
        </div>
</div>

<div class="form-group"> 
    {{ consumedcropbyhouseholdform.quantity.errors }}
    <label for="quantity" class="col-md-4 control-label">Quantity:</label>
        <div class="col-md-4 selectContainer">
		  <div class="input-group">
        {{ consumedcropbyhouseholdform.quantity }}<span class="input-group-addon">kg</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ consumedcropbyhouseholdform.marketprice.errors }}
    <label for="marketprice" class="col-md-4 control-label">Market price:</label>
        <div class="col-md-4 selectContainer">
		  <div class="input-group">
           {{ consumedcropbyhouseholdform.marketprice }}<span class="input-group-addon">per kg</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ consumedcropbyhouseholdform.totalvalue.errors }}
    <label for="totalvalue" class="col-md-4 control-label">Total value:</label>
        <div class="col-md-4 selectContainer">
		  <div class="input-group">
           {{ consumedcropbyhouseholdform.totalvalue }}<span class="input-group-addon">{{ currency }}</span>
            </div>
		   <label for="message" style="color:#D7DBDD "><small><i>Total value = (Market price) * (Quantity)</i></small></label>
        </div>
</div>
</fieldset>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-default" >Submit</button>
  </div>
</div>
</form>
    
    </div><!-- /.container -->
{% endblock %}
{% block extended_javascripts_code %}
	<script>
    $(document).ready(function () {
    $('#consumedcrop_by_household_form').formValidation({
        framework: 'bootstrap',
        icon: {
            //valid: 'glyphicon glyphicon-ok',
            //invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            date: {
                validators: {
				  date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'},
                    notEmpty: {
                        message: 'Please enter date' }
                        }
                    },
            farm: {
                validators: {
                    notEmpty: {
                        message: 'Please choose farm' }
                        }
                    },
            plotID: {
                validators: {
                    notEmpty: {
                        message: 'Please choose plot/field' }
                        }
                    },
			where_consumed: {
                validators: {
                    notEmpty: {
                        message: 'This field is required' }
                        }
                    },
			how_consumed: {
                validators: {
                    notEmpty: {
                        message: 'This field is required' }
                        }
                    },
            quantity: {
                validators: {
                	greaterThan: {
                        value: 0,
                        message: 'The value must be greater than zero'
                    },
					numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill quantity' }
                        }
                    },
            
            marketprice: {
                validators: {
                	greaterThan: {
                        value: 0,
                        message: 'The value must be greater than zero'
                    },
					numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill the market price' }
                        }
                    },
			currency: {
                validators: {
                    notEmpty: {
                        message: 'Please fill currency' }
                        }
                    },
            totalvalue: {
            	disabled:false,
                validators: {
					numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill the totalvalue' }
                        }
                    }, 
        }
    })
});
      //# sourceURL=pen.js

  </script>
    <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
                }
    </script>
<script>

$(document).ready(function() {
  $("#id_farm").change(function() {
    if ($(this).val() == '') {
      $("#id_plotID").html("<option>Choose field..</option>");
      $("#id_plotID").attr('disabled', true);
      }
      else {
        var url = "/plot/" + $(this).val() + "/plots";
        $.getJSON(url, function(plots) {
        var options = '<option value="">Choose plot..</option>';
        for (var i = 0; i < plots.length; i++) {
          options += '<option value="' + plots[i].pk + '">' + plots[i].fields['plotID']  + '</option>';
        }
        $("#id_plotID").html(options);
        $("#id_plotID option:first").attr('selected', 'selected');
        $("#id_plotID").attr('disabled', false);
      });
    }
  });
});
</script>

<script>

$(window).load(function(){
  var url = "/get_farmer_name/" + $('#id_farm').val() + "/get_farmer_name";
  $.getJSON(url, function(farmer_name) {
    //alert(farmer_name);
    var options = '<option value="' + farmer_name[0] + '">' + farmer_name[1] + ' ' + farmer_name[2] + ' ' + farmer_name[3] + '</option>';
    $("#id_farm").html(options);
    $("#id_farm option:selected").attr('selected', 'selected');
  })
});

$(window).load(function(){
  var url = "/get_plot_name/" + $('#id_plotID').val() + "/get_plot_name";
  $.getJSON(url, function(plot_name) {
    var options = '<option value="' + plot_name[0] + '">' + plot_name[1] + '</option>';
    $("#id_plotID").html(options);
    $("#id_plotID option:selected").attr('selected', 'selected');
  })
});

</script>

<script>
$(window).load(function() {
  if ($('#id_totalvalue').val() =='') {
	$('#id_totalvalue').val()
  }
  else{
	$('#id_totalvalue').val()
  }
  });

$(document).ready(function () {
    $('#id_quantity,#id_marketprice').on('mouseenter click keyup mouseleave', function () {
    setTimeout(function () {
		var totalvalue = $('#id_quantity').val() * $('#id_marketprice').val();
		$('#id_totalvalue').val(totalvalue);
      },0);
    })
 });
</script>
{% endblock %}
