{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    <title>Pesticide Application</title>
{% endblock %}

{% block main_section %}
<script>
  $(function() {
    $( "#id_date" ).datepicker({
        onSelect: function() {
        $('#edit_pesticideapplication_form').formValidation('revalidateField', 'date');
    }
  });
  });
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
       
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

{% if user_village %}
<input type="hidden" id="uservillage" name="uservillage" value="{{user_village}}" readonly='readonly' />
{% elif researcher %}
<input type="hidden" id="researcher" name="researcher" value="{{researcher}}" readonly='readonly' />
{% elif user_country %}

{% endif %}

<form class="well form-horizontal" action=" " method="post"  id="edit_pesticideapplication_form">{% csrf_token %} 
<!-- Form Name -->
<fieldset>
<legend>Pesticide Application</legend>
{{ pesticideManagement_form.errors }}
<div class="form-group"> 
    {{ pesticidemanagement_form.date.errors }}
    <label for="date" class="col-md-4 control-label">Date:</label>
        <div class="col-md-4 selectContainer">
            {{ pesticidemanagement_form.date }}
        </div>
</div>

<div class="form-group"> 
    {{ pesticidemanagement_form.crop_stage.errors }}
    <label for="crop_stage" class="col-md-4 control-label">Crop stage:</label>
        <div class="col-md-4 selectContainer">
            {{ pesticidemanagement_form.crop_stage }}
        </div>
</div>

<div class="form-group"> 
    {{ pesticidemanagement_form.farm.errors }}
    <label for="farm" class="col-md-4 control-label">Farmer:</label>
        <div class="col-md-4 selectContainer">
            {{ pesticidemanagement_form.farm }}
        </div>
</div>

<div class="form-group"> 
    {{ pesticidemanagement_form.plot.errors }}
    <label for="plotID" class="col-md-4 control-label">Field ID:</label>
        <div class="col-md-4 selectContainer">
            {{ pesticidemanagement_form.plotID }}
        </div>
</div>

<div class="form-group"> 
    {{ pesticidemanagement_form.name.errors }}
    <label for="name" class="col-md-4 control-label">Pesticide:</label>
        <div class="col-md-4 selectContainer">
            {{ pesticidemanagement_form.name }}
        </div>
</div>

<div class="form-group" id='crop_stage'> 
    {{ pesticidemanagement_form.crop_stage.errors }}
    <label for="crop_stage" class="col-md-4 control-label">Crop stage:</label>
        <div class="col-md-4 selectContainer">
        {{ pesticidemanagement_form.crop_stage }}
        </div>
</div>

<div class="form-group"> 
    {{ pesticidemanagement_form.form.errors }}
    <label for="form" class="col-md-4 control-label">Pesticide form:</label>
        <div class="col-md-4 selectContainer">
            {{ pesticidemanagement_form.form }}
        </div>
</div>

<div class="form-group"  id='litre'> 
    {{ pesticidemanagement_form.quantity_in_litre.errors }}
    <label for="quantity_in_litre" class="col-md-4 control-label">Quantity:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
                {{ pesticidemanagement_form.quantity_in_litre }}<span class="input-group-addon">L</span>
            </div> 
        </div>
</div>

<div class="form-group" id='water_volume'> 
    {{ pesticidemanagement_form.water_volume.errors }}
    <label for="water_volume" class="col-md-4 control-label">Water volume in which the pesticide was diluted::</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
                {{ pesticidemanagement_form.water_volume }}<span class="input-group-addon">L</span>
            </div> 
        </div>
</div>

<div class="form-group" id='kg'> 
    {{ pesticidemanagement_form.quantity_in_kg.errors }}
    <label for="quantity_in_kg" class="col-md-4 control-label">Quantity:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
                {{ pesticidemanagement_form.quantity_in_kg }}<span class="input-group-addon">Kg</span>
            </div> 
        </div>
</div>
<div class="form-group"> 
    {{ pesticidemanagement_form.price.errors }}
    <label for="price" class="col-md-4 control-label">Cost:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
        {{ pesticidemanagement_form.price }}<span class="input-group-addon">{{ currency }}</span>
            </div>    
        </div>
</div>

<div class="form-group"> 
    {{ labourmanagement_form.labour.errors }}
    <label for="labour" class="col-md-4 control-label">Labour:</label>
        <div class="col-md-4 selectContainer">
            {{ labourmanagement_form.labour }}
        </div>
</div>
<div id='hireddv'>
<div class="form-group"> 
    {{ labourmanagement_form.hired_female_number.errors }}
    <label for="hired_female_number" class="col-md-4 control-label">hired female number:</label>
        <div class="col-md-4 selectContainer">
            {{ labourmanagement_form.hired_female_number }}
        </div>
</div>

<div class="form-group"> 
    {{ labourmanagement_form.hired_female_time.errors }}
    <label for="hired_female_time" class="col-md-4 control-label">Hired female time:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
                {{ labourmanagement_form.hired_female_time }}<span class="input-group-addon">hr</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ labourmanagement_form.hired_male_number.errors }}
    <label for="hired_male_number" class="col-md-4 control-label">Hired male number:</label>
        <div class="col-md-4 selectContainer">
            {{ labourmanagement_form.hired_male_number }}
        </div>
</div>

<div class="form-group"> 
    {{ labourmanagement_form.hired_male_time.errors }}
    <label for="hired_male_time" class="col-md-4 control-label">Hired male time:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
                {{ labourmanagement_form.hired_male_time }}<span class="input-group-addon">hr</span>
            </div>
        </div>
</div>
</div>
<div id='familydv'>
<div class="form-group"> 
    {{ labourmanagement_form.family_female_number.errors }}
    <label for="family_female_number" class="col-md-4 control-label">Family female number:</label>
        <div class="col-md-4 selectContainer">
            {{ labourmanagement_form.family_female_number }}
        </div>
</div>

<div class="form-group"> 
    {{ labourmanagement_form.family_female_time.errors }}
    <label for="family_female_time" class="col-md-4 control-label">Family female time:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
                {{ labourmanagement_form.family_female_time }}<span class="input-group-addon">hr</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ labourmanagement_form.family_male_number.errors }}
    <label for="family_male_number" class="col-md-4 control-label">Family male number:</label>
        <div class="col-md-4 selectContainer">
            {{ labourmanagement_form.family_male_number }}
        </div>
</div>

<div class="form-group"> 
    {{ labourmanagement_form.family_male_time.errors }}
    <label for="family_male_time" class="col-md-4 control-label">Family male time:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
                 {{ labourmanagement_form.family_male_time }}<span class="input-group-addon">hr</span>
            </div>
        </div>
</div>
</div>
<div class="form-group"> 
    {{ labourmanagement_form.wage.errors }}
    <label for="wage" class="col-md-4 control-label">Wage:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ labourmanagement_form.wage }}<span class="input-group-addon">{{ currency}}</span>
            </div>
        </div>
</div>

</fieldset>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-default" >Submit</button>
  </div>
</div>
</form>

</div>

{% endblock %}
{% block extended_javascripts_code %}
	<script>
    $(document).ready(function () {
    $('#edit_pesticideapplication_form').formValidation({
        framework: 'bootstrap',
        icon: {
            //valid: 'glyphicon glyphicon-ok',
            //invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            date: {
                validators: {
                  date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'},
                    notEmpty: {
                        message: 'Please fill the date' }
                        }
                    },
            farm: {
                validators: {
                    notEmpty: {
                        message: 'Please choose farm' }
                        }
                    },
            plot : {
                validators: {
                    notEmpty: {
                        message: 'Please select plot' }
                        }
                    },
            name: {
                validators: {
                    notEmpty: {
                        message: 'Please select pesticide' }
                        }
                    },          
            form: {
                validators: {
                    notEmpty: {
                        message: 'Please choose form type' }
                        }
                    },
            quantity_lt: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: { message: 'Please fill quantity in litre' }
                }
            },
            water_volume: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: { message: 'Please fill quantity in kg' }
                }
            },
            quantity_kg: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: { message: 'Please fill quantity in kg' }
                }
            },
            crop_stage: {
                validators: {
                    //stringLength: { min: 2 },
                    notEmpty: { message: 'Please choose crop stage' }
                }
            },
            cost: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: { message: 'Please supply the cost' }
                }
            },
            family_female_time: {
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            family_male_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            hired_female_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            hired_male_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },   
            labour: {
                validators: {
                    notEmpty: {
                        message: 'Please choose labour' }
                        }
                    },
            hired_female_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired female' }
                }
            },
            hired_male_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired male' }
                }
            },
            family_female_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired family female' }
                }
            },
            
            family_male_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired family male' }
                }
            },
            wage: {
                validators:{
                        numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'Please fill the wage' }
                }
            },
        }
    })
});
      //# sourceURL=pen.js

    </script>

<script>
$(window).load(function() {
  if ($('#id_labour').val() == '') {
    $('#familydv,#hireddv').hide();
  }
  else if ($('#id_labour').val() == 'Family')  {
      $('#familydv').show();
      $('#hireddv').hide();
      $("#id_hired_female_number").val();
      $("#id_hired_male_number").val();
      $("#id_family_female_time").val();
      $("#id_family_male_time").val();
  }
  else if ($('#id_labour').val() == 'Hired')  {
    $('#hireddv').show();
    $('#familydv').hide();
    $("#id_family_female_number").val();
    $("#id_family_male_number").val();
    $("#id_hired_female_time").val();
    $("#id_hired_male_time").val();
  }
  else{
      $('#familydv,#hireddv').show();
      $("#id_family_female_time,#id_family_male_time,#id_hired_female_time,#id_hired_male_time").val();
  }
  });
</script>
<script>
    $(document).ready(function() {
            $("#id_labour").change(function() {
              value=0;
                if ($(this).val() == '') {
                    $('#familydv,#hireddv').hide();
                }//family_female_time,family_male_time,hired_female_time,hired_male_time
                else if ($(this).val() == 'Family')  {
                    $('#familydv').show();
                    $("#id_family_female_number").val();
                    $("#id_family_male_number").val();
                    $("#id_family_female_time").val();
                    $("#id_family_male_time").val();
                    $('#hireddv').hide();
                    $("#id_hired_female_number").val(value);
                    $("#id_hired_male_number").val(value);
                    $("#id_hired_female_time").val(value);
                    $("#id_hired_male_time").val(value);
                }
                else if ($(this).val() == 'Hired')  {
                    $('#hireddv').show();
                    $('#familydv').hide();
                    $("#id_hired_female_number").val();
                    $("#id_hired_male_number").val();
                    $("#id_hired_female_time").val();
                    $("#id_hired_male_time").val();
                    $("#id_family_female_number").val(value);
                    $("#id_family_male_number").val(value);
                    $("#id_family_female_time").val(value);
                    $("#id_family_male_time").val(value);
                }
                else{
                    $('#familydv,#hireddv').show();
                    $("#id_hired_female_number").val();
                    $("#id_hired_male_number").val(); 
                    $("#id_family_female_number").val();
                    $("#id_family_male_number").val();
                    $("#id_family_female_time").val();
                    $("#id_family_male_time").val();
                    $("#id_hired_female_time").val();
                    $("#id_hired_male_time").val();
                }
            });
    });
</script>

<script>

$(window).load(function(){
  var url = "/get_farmer_name/" + $('#id_farm').val() + "/get_farmer_name";
  $.getJSON(url, function(farmer_name) {
    //alert(farmer_name);
    var options = '<option value="' + farmer_name[0] + '">' + farmer_name[1] + ' ' + farmer_name[2] + ' ' + farmer_name[3] + '</option>';
    $("#id_farm").html(options);
    $("#id_farm option:selected").attr('selected', 'selected');
  })
});

$(window).load(function(){
  var url = "/get_plot_name/" + $('#id_plotID').val() + "/get_plot_name";
  $.getJSON(url, function(plot_name) {
    var options = '<option value="' + plot_name[0] + '">' + plot_name[1] + '</option>';
    $("#id_plotID").html(options);
    $("#id_plotID option:selected").attr('selected', 'selected');
  })
});

</script>

<script>
$( function() {
  $('#id_name').autocomplete({
      //minLength:3,
      source: "/pesticide_select/"
    });
});

</script>
<script>
$(window).load(function() {

  if ($('#id_form').val() == 'Liquid')  {
      $("#litre,#water_volume").show();
      $("#kg").hide();
      $("#id_quantity_kg,#id_water_volume,#id_quantity_lt").val();                  
  }
  else if ($('#id_form').val() == 'Solid')  {
    $("#kg").show();
    $("#litre,#water_volume").hide();
    $("#id_quantity_kg,#id_water_volume,#id_quantity_lt").val(); 
  }
  else{
      $("#litre,#kg,#water_volume").hide();
    }
  });
</script>
<script>
    $(document).ready(function() {
            $("#id_form").change(function() {
                if ($(this).val() == '') {
                    $("#litre,#water_volume,#kg").hide();
                }
                else if ($(this).val() == 'Liquid')  {
                  $("#litre,#water_volume").show();
                  $("#id_quantity_lt,#id_water_volume").val('');
                  $("#kg").hide();
                  $("#id_quantity_kg").val(0);
                }
                else{
                  $("#kg").show();
                  $("#id_quantity_kg").val('');
                  $("#litre,#water_volume").hide();
                  $("#id_quantity_lt,#id_water_volume").val(0);
                }
            });
    });
</script>
{% endblock %}



