{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>water usage</title>
{% endblock %}
date and time needed
infoarmation from this page is linked direct to the farmer

if water lifting technology is bucket:
            Ask:
                ->Number of bucket
                ->Volume of the bucket
                ->Usage purpose:
                        Options are:
                                    :Domestic(cookin. cleaning, washing etc)
                                    :Drinking
                                    :Livestock drinking
                                    :Irrigation of non project related crops
                                    
if water lifting technology is not bucket and is any other pump:           
        You take the (total time ) * (discharge) from the technology                             
                                    