{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Water lifting calibration</title>
{% endblock %}

{% block main_section %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static 'js/timepicker.min.js' %}"></script>
<!--<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">-->
  <script>
  $(function() {
    $( "#id_date" ).datepicker();
  });
     
  </script>
    <script>
  $(function() {
    $( "#id_date" ).datepicker();
  });
  $(document).ready(function(){
                  $('.timepicker').timepicker({
                      timeFormat: 'HH:mm',
                      //timeFormat: 'H:mm p',
                      interval: 60,
                      minTime: '0',
                      //maxTime: '6:00pm',
                      //defaultTime: '11',
                      //startTime: '10:00',
                      dynamic: false,
                      dropdown: true,
                      scrollbar: true
                  });
      });

  </script>
 
    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<!-- Form -->
<form class="well form-horizontal" action=" " method="post"  id="fuelconsumption_form">{% csrf_token %} 

<fieldset>
<legend>Water lifting Calibration</legend>

<div class="form-group"> 
    {{ waterliftingcalibrationform.date.errors }}
    <label for="date" class="col-md-4 control-label">Date:</label>
        <div class="col-md-4 selectContainer">
        {{ waterliftingcalibrationform.date }}
        </div>
</div>

<div class="form-group"> 
    {{ waterliftingcalibrationform.farm.errors }}
    <label for="farm" class="col-md-4 control-label">Farm:</label>
        <div class="col-md-4 selectContainer">
        {{ waterliftingcalibrationform.farm }}
        </div>
</div>


<div class="form-group"> 
    {{ waterliftingcalibrationform.technology.errors }}
    <label for="technology" class="col-md-4 control-label">Technology:</label>
        <div class="col-md-4 selectContainer">
        {{ waterliftingcalibrationform.technology }}
        </div>
</div>

<div class="form-group"> 
    {{ waterliftingcalibrationform.bucketvolume.errors }}
    <label for="bucketvolume" class="col-md-4 control-label">Bucket volume:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
           {{ waterliftingcalibrationform.bucketvolume }}<span class="input-group-addon">L</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ waterliftingcalibrationform.start_time.errors }}
    <label for="start_time" class="col-md-4 control-label">Start time:</label>
        <div class="col-md-4 selectContainer">
        {{ waterliftingcalibrationform.start_time }}
        </div>
</div>

<div class="form-group"> 
    {{ waterliftingcalibrationform.end_time.errors }}
    <label for="end_time" class="col-md-4 control-label">End time:</label>
        <div class="col-md-4 selectContainer">
           {{ waterliftingcalibrationform.end_time }}
        </div>
</div>

<div class="form-group"> 
    {{ waterliftingcalibrationform.total_time.errors }}
    <label for="total_time" class="col-md-4 control-label">Total time:</label>
        <div class="col-md-4 selectContainer">
           {{ waterliftingcalibrationform.total_time }}
        </div>
</div>

<div class="form-group"> 
    {{ waterliftingcalibrationform.discharge.errors }}
    <label for="discharge" class="col-md-4 control-label">Discharge:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
           {{ waterliftingcalibrationform.discharge }}<span class="input-group-addon">L/s</span>
            </div>
        </div>
</div>

</fieldset>


<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-default" >Submit</button>
  </div>
</div>
</form>
    
    </div><!-- /.container -->
{% endblock %}

{% block extended_javascripts_code %}
	<script>
    $(document).ready(function () {
    $('#fuelconsumption_form').bootstrapValidator({
        feedbackIcons: {
            //valid: 'glyphicon glyphicon-ok',
            //invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            date: {
                validators: {
                    notEmpty: {
                        message: 'Please fill the date' }
                        }
                    },
            farm: {
                validators: {
                    notEmpty: {
                        message: 'Please choose farm' }
                        }
                    },
                    
            technology: {
                validators: {
                    notEmpty: {
                        message: 'Please choose technology' }
                        }
                    },
            
            bucketvolume: {
                validators: {
                    notEmpty: {
                        message: 'Please enter bucket volume' }
                        }
                    },
            
            start_time: {
                validators: {
                    notEmpty: {
                        message: 'Please select start time'
                        },
                        callback: {
                        message: 'The start time must be earlier then the end one',
                        callback: function(value, validator, $field) {
                            var endTime = validator.getFieldElements('end_time').val();
                            if (endTime === '') {
                                  return true;
                                }
                            var startHour    = parseInt(value.split(':')[0], 10),
                                startMinutes = parseInt(value.split(':')[1], 10),
                                endHour      = parseInt(endTime.split(':')[0], 10),
                                endMinutes   = parseInt(endTime.split(':')[1], 10);

                            if (startHour < endHour || (startHour == endHour && startMinutes < endMinutes)) {
                                // The end time is also valid
                                // So, we need to update its status
                                validator.updateStatus('end_time', validator.STATUS_VALID, 'callback');
                                return true;
                                  }
                            return false;
                            }
                        }
                      }   
                    },
            end_time: {
                validators: {
                    //stringLength: { min: 2 },
                    notEmpty: {
                      message: 'Please select end time'
                      },
                callback: {
                        message: 'The end time must be later then the start one',
                        callback: function(value, validator, $field) {
                            var startTime = validator.getFieldElements('start_time').val();
                            if (startTime == '') {
                                  return true;
                                }
                            var startHour    = parseInt(startTime.split(':')[0], 10),
                                startMinutes = parseInt(startTime.split(':')[1], 10),
                                endHour      = parseInt(value.split(':')[0], 10),
                                endMinutes   = parseInt(value.split(':')[1], 10);

                            if (endHour > startHour || (endHour == startHour && endMinutes > startMinutes)) {
                                // The start time is also valid
                                // So, we need to update its status
                                validator.updateStatus('start_time', validator.STATUS_VALID, 'callback');
                                return true;
                            }
                            return false;
                        }
                    }
                }
            },
            discharge: {
                validators: {
                    //stringLength: { min: 2 },
                    notEmpty: { message: 'Please fill discharge' }
                }
            },
        }
    }).on('success.form.bv', function (e) {
        $('#success_message').slideDown({ opacity: 'show' }, 'slow');
        $('#fuelconsumption_form').data('bootstrapValidator').resetForm();
        e.preventDefault();
        var $form = $(e.target);
        var bv = $form.data('bootstrapValidator');
        $.post($form.attr('action'), $form.serialize(), function (result) {
            console.log(result);
        }, 'json');
    });
});
      //# sourceURL=pen.js

    </script>
    <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
                }
    </script>
    
<script>
    $(document).ready(function() {
            $("#id_form").change(function() {
                if ($(this).val() == '') {
                    $("#id_quantity_kg").attr('disabled', true);
                    //option_lt='<input class="form-control" id="id_quantity_lt" name="quantity_lt" placeholder="#Quantity in Litre" readonly="True" type="text" /><span class="input-group-addon">litre</span>'
                    //option_kg='<input class="form-control" id="id_quantity_kg" name="quantity_kg" placeholder="#Quantity in Kg" readonly="True" type="text" /><span class="input-group-addon">kg</span>'
                    //$("#id_quantity_kg").html(option_kg);
                    $("#id_quantity_lt").attr('disabled', true);
                    //$("#id_quantity_lt").html(option_lt);
                }
                else if ($(this).val() == 'Liquid')  {
                  $("#id_quantity_kg").attr('disabled', true);
                  $("#id_quantity_lt").attr('disabled', false);
                }
                else{
                  $("#id_quantity_lt").attr('disabled', true);
                  $("#id_quantity_kg").attr('disabled',false);
                }
            });
    });
</script>

<script>
  $(document).ready(function() {
    var a =  $('#id_end_time').val();
    var b = $('#id_start_time').val();
    function TimeDiff(a,b){
        var first = a.split(":")
        var second = b.split(":")
            var xx;
            var yy;
            
            if(parseInt(first[0]) < parseInt(second[0])){          
                if(parseInt(first[1]) < parseInt(second[1])){
                    yy = parseInt(first[1]) + 60 - parseInt(second[1]);
                    xx = parseInt(first[0]) + 24 - 1 - parseInt(second[0])
                }else{
                  yy = parseInt(first[1]) - parseInt(second[1]);
                  xx = parseInt(first[0]) + 24 - parseInt(second[0])
                }
            }else if(parseInt(first[0]) == parseInt(second[0])){
              if(parseInt(first[1]) < parseInt(second[1])){
                    yy = parseInt(first[1]) + 60 - parseInt(second[1]);
                    xx = parseInt(first[0]) + 24 - 1 - parseInt(second[0])
                }
              else{
                  yy = parseInt(first[1]) - parseInt(second[1]);
                  xx = parseInt(first[0]) - parseInt(second[0])
                }
                }
              else{ 
                if(parseInt(first[1]) < parseInt(second[1])){
                    yy = parseInt(first[1]) + 60 - parseInt(second[1]);
                    xx = parseInt(first[0]) - 1 - parseInt(second[0])
                  }
                else{
                  yy = parseInt(first[1]) - parseInt(second[1]);
                  xx = parseInt(first[0]) - parseInt(second[0])
                }
            }
              if(xx < 10)
                xx = "0" + xx
              if(yy < 10)
                yy = "0" + yy
              //alert(xx + ":" + yy)
              $('#id_Total time').val(xx + ":" + yy);
        }
});
</script>

{% endblock %}
