{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Editing</title>
{% endblock %}
{% block main_section %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<div id="main">  
<div>
    <a id="collapseAll" href="#">Close All</a>
</div>

<ul id="treeview" class="treeview-black" class="closed">
	<li class="closed">
		<span>Farm data</span>
		<ul>
            <li><a href="{% url 'iwmiproject:edit_farmer_detail' plotID=plotID personID=personID %}" alt="edit plot(Field) info" >Plot(Field) info</a></li>
            <li><a href="{% url 'iwmiproject:edit_remark_detail' plotID=plotID personID=personID %}" alt="edit crop and production stress info" >Crop and production stress</a></li>
            <li><a href="{% url 'iwmiproject:edit_Landclearance_detail' plotID=plotID personID=personID %}" alt="edit land clearance info" >Land clearance</a></li>
            <li><a href="{% url 'iwmiproject:edit_land_preparation' plotID=plotID personID=personID %}" alt="edit land preparation info" >Land preparation</a></li>
			<li class="closed">
				<span>Nursery data</span>
				<ul>
                    <li><a href="">Nursery</a></li>
					<li><a href="">Nursery irrigation</a></li>
				</ul>
			</li>
            <li>Planting Method</li>
            <li><a href="{% url 'iwmiproject:edit_plot_fertilizermanagement' plotID=plotID personID=personID %}" alt="edit fertilizer info" >Fertilizer application</a></li>
            <li><a href="{% url 'iwmiproject:edit_plot_pestcidemanagement' plotID=plotID personID=personID %}" alt="edit pesticide info" >Pesticide application</a></li>
            <li>Irrigation</li>
            <li><a href="{% url 'iwmiproject:edit_plot_weeding' plotID=plotID personID=personID %}" alt="edit pesticide info" >Weeding</a></li>
            <li><a href="{% url 'iwmiproject:edit_yieldfarmlevel' plotID=plotID personID=personID %}" alt="edit yieldfarmlevel info" >Farm yield level</a></li>
            <li><a href="{% url 'iwmiproject:edit_plot_residualhandling' plotID=plotID personID=personID %}" alt="edit residue info" >Residue handling</a></li>
            <li><a href="{% url 'iwmiproject:edit_plot_saleharvestedcrop' plotID=plotID personID=personID %}" alt="edit residue info" >Sales of harvested crop</a></li>
            <li><a href="{% url 'iwmiproject:edit_cropmonitoringplantheight' plotID=plotID personID=personID %}" alt="edit yield plant level info" >Consumed crop</a></li>
            <li>Other water usage</li>
            <li><a href="{% url 'iwmiproject:edit_technologyfailure' personID=personID %}" alt="edit technology info" >Technology failure</a></li>
            <li>Service and repaire</li>
		</ul>
	</li>
    <li class="closed">
		<span>Technical Data</span>
		<ul>
			<li>Discharge Calibration</li>
            <li>Application calibration</li>
			<li><a href="{% url 'iwmiproject:edit_plot_fertilizer_specification' plotID=plotID personID=personID %}" alt="edit fertilizerspec info" >Fertilizer specification</a></li>
            <li><a href="{% url 'iwmiproject:edit_plot_soilproperty' plotID=plotID personID=personID %}" alt="edit soilproperty info" >Soil properties</a></li>
            <li>Soil Moisture</li>
            <li><a href="{% url 'iwmiproject:edit_plot_cropmonitoringplantheight' plotID=plotID personID=personID %}" alt="edit yield plant level info" >Crop monitoring</a></li>
            <li><a href="{% url 'iwmiproject:edit_plot_yieldplantlevel' plotID=plotID personID=personID %}" alt="edit yield plant level info" >Yield plant level</a></li>
            <li><a href="{% url 'iwmiproject:edit_plot_yieldrowbedlevel' plotID=plotID personID=personID %}" alt="edit yieldrowbedlevel info" >Yield bed level</a></li>
            <li><a href="{% url 'iwmiproject:edit_plot_tissuenutrientanalysis' plotID=plotID personID=personID %}" alt="edit tissuenutrientanalysis info" >Plant nutrient analysis</a></li>
			</li>
		</ul>
	</li>
</ul>

<div id="treecontrol">
	<a href="#"></a><a href="#"></a><a href="#"></a>
</div>

</div>  

</div><!-- /.container -->
{% endblock %}

