{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>BedLevelYield</title>
{% endblock %}

{% block main_section %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
$(function() {
  $( "#id_date" ).datepicker({
      onSelect: function() {
        $('#bed_level_yield_form').formValidation('revalidateField', 'date');
    }
    })
});  
</script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    

<form class="well form-horizontal" action=" " method="post"  id="bed_level_yield_form">{% csrf_token %} 

<!-- Form Name -->
<fieldset>
<legend>Yield at bed level..</legend>

{% if user_village %}
<input type="hidden" id="uservillage" name="uservillage" value="{{user_village}}" readonly='readonly' />
{% elif researcher %}
<input type="hidden" id="researcher" name="researcher" value="{{researcher}}" readonly='readonly' />
{% elif user_country %}

{% endif %}
<label class="warning" for="message" id="message" align='center' style="color: red"><small><i>{{message}}</i></small></label>

<div class="form-group"> 
    {{ bedyieldlevelform.date.errors }}
    <label for="date" class="col-md-4 control-label">Date:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.date }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.farm.errors }}
    <label for="farm" class="col-md-4 control-label">Farm:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.farm }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.row.errors }}
    <label for="plot" class="col-md-4 control-label">Plot:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.plot }}
        </div>
</div>

<div class="form-group" id='Crop'> 
    {{ bedyieldlevelform.Crop.errors }}
    <label for="Crop" class="col-md-4 control-label">Crop:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.Crop }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.dry_fresh.errors }}
    <label for="dry_fresh" class="col-md-4 control-label">Dry or fresh:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.dry_fresh }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.harvesting_method.errors }}
    <label for="harvesting_method" class="col-md-4 control-label">Harvesting method:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.harvesting_method }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.data_row_number.errors }}
    <label for="data_row_number" class="col-md-4 control-label">Row number:</label>
        <div class="col-md-4 selectContainer">
              {{ bedyieldlevelform.data_row_number  }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.marketable_produce.errors }}
    <label for="marketable_produce" class="col-md-4 control-label">Number of marketable produce:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.marketable_produce }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.unmarketable_produce.errors }}
    <label for="unmarketable_produce" class="col-md-4 control-label">Number of unmarketable produce:</label>
        <div class="col-md-4 selectContainer">
             {{ bedyieldlevelform.unmarketable_produce }}
        </div>
</div>

<div class="form-group"> 
    {{ bedyieldlevelform.marketable_produce.errors }}
    <label for="marketable_produce" class="col-md-4 control-label">Weight of marketable produce:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
             {{ bedyieldlevelform.marketable_produce_weight }}<span class="input-group-addon">kg</span>
            </div>
        </div>
</div>


<div class="form-group"> 
    {{ bedyieldlevelform.unmarketable_produce.errors }}
    <label for="unmarketable_produce" class="col-md-4 control-label">Weight of unmarketable produce:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
              {{ bedyieldlevelform.unmarketable_produce_weight  }}<span class="input-group-addon">kg</span>
            </div>
        </div>
</div>


</fieldset>

<label for="message" style="color:#636363"><small>Note: If data is not available please enter -999 and not 0”</small></label>
 
<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-default" >Submit</button>
  </div>
</div>
</form>
    
    </div><!-- /.container -->
{% endblock %}

{% block extended_javascripts_code %}
	<script>
    $(document).ready(function () {
    $('#bed_level_yield_form').formValidation({
        framework: 'bootstrap',
        icon: {
            //valid: 'glyphicon glyphicon-ok',
            //invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            farm: {
                validators: {
                    notEmpty: {
                        message: 'Please select farm' }
                        }
                    },
                    
            date: {
                validators: {
                    date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'},
                    notEmpty: {
                        message: 'Please fill in date' }
                        }
                    },
            plot: {
                validators: {
                    notEmpty: {
                        message: 'Please select row number' }
                        }
                    },
            harvesting_method: {
                validators: {
                    notEmpty: {
                        message: 'Please choose harvesting method' }
                        }
                    },
                    
            dry_fresh: {
                validators: {
                    notEmpty: {
                        message: 'Please select if is dry or fresh' }
                        }
                    },
            marketable_produce: {
                validators:{
                        numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'Please fill number of marketable produce' }
                }
            },
            data_row_number: {
                validators: {
                    integer: {
                          message: 'invalid, must be an integer'
                        },
                    notEmpty: { message: 'This field is required' }
                }
            },
            unmarketable_produce: {
                validators:{
                        numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'Please fill number of unmarketable produce' }
                }
            },
            marketable_produce_weight: {
                validators:{
                        numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'Please fill the weight of marketable fruit per plant' }
                }
            },
            
            unmarketable_produce_weight: {
                validators:{
                        numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'Please fill the weight of unmarketable fruit per plant' }
                }
            },
            
            
        }
    })
});
      //# sourceURL=pen.js

    </script>
    <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
                }
    </script>
<script>
      
    $(document).ready(function() {
            $("#id_farm").change(function() {
                if ($(this).val() == '') {
                    $("#id_plot").html("<option>Choose..</option>");
                    $("#id_plot").attr('disabled', true);
                }
                else {
                    var url = "/id_plot/" + $(this).val() + "/plots";
              
                    $.getJSON(url, function(plots) {
                        var options = '<option value="">Choose plot..</option>';
                        for (var i = 1; i < plots+1; i++) {
                            
                            options += '<option value="' + i + '">' + i + '</option>';
                        }
                        $("#id_plot").html(options);
                        $("#id_plot option:first").attr('selected', 'selected');
                        $("#id_plot").attr('disabled', false);
                    });
                }
            });
        });

</script>
<script>

$(document).ready(function() {
  $("#id_farm").change(function() {
    if ($(this).val() == '') {
      $("#id_plot").html("<option>Choose field..</option>");
      $("#id_plot").attr('disabled', true);
      }
      else {
        var url = "/plot/" + $(this).val() + "/plots";
        $.getJSON(url, function(plots) {
        var options = '<option value="">Choose plot..</option>';
        for (var i = 0; i < plots.length; i++) {
          options += '<option value="' + plots[i].pk + '">' + plots[i].fields['plotID']  + '</option>';
        }
        $("#id_plot").html(options);
        $("#id_plot option:first").attr('selected', 'selected');
        $("#id_plot").attr('disabled', false);
      });
    }
  });
});
</script>

<script>
$(window).load(function() {
  if (typeof $('#uservillage').val() === "undefined"){
    var url = "/select_all/";
    $.getJSON(url, function(farmers) {
    var options = '<option value="">Choose Field..</option>';
      for (var i = 0; i < farmers.length; i++) {
        options += '<option value="' + farmers[i].pk + '">' + farmers[i].fields['firstname'] + ' ' + farmers[i].fields['middlename'] + ' ' + farmers[i].fields['lastname'] + '</option>';
          }
          $("#id_farm").html(options);
          $("#id_farm option:selected").attr('selected', 'selected');
      });
    }
    else if (typeof $('#researcher').val() === "undefined"){
    var village = $('#uservillage').val();
    var url = "/farmer/" + village + "/farmers";
    $.getJSON(url, function(farmers) {
    var options = '<option value="">Choose Field..</option>';
      for (var i = 0; i < farmers.length; i++) {
        options += '<option value="' + farmers[i].pk + '">' + farmers[i].fields['firstname'] + ' ' + farmers[i].fields['middlename'] + ' ' + farmers[i].fields['lastname'] + '</option>';
          }
          $("#id_farm").html(options);
          $("#id_farm option:selected").attr('selected', 'selected');
      });
    }
});
</script>
<script>
$(window).load(function() {
  if ($('#id_farm').val() == '' || $('#id_plot').val() == '') {
      $('#Crop').hide();
	  $('#plot_message').hide();
    }
  else {
     if ($('#croppingsystem').val() == 'Monocropping') {
        $('#Crop').hide();
        $('#id_Crop').val();
     }
     else if ($('#croppingsystem').val() == 'Intercropping')  {
        $('#Crop').show();
        $('#id_Crop').val();
     }
  }
});

$(document).ready(function() {
  $("#id_farm,#id_plot").change(function() {
    if ($('#id_farm').val() == '' || $('#id_plot').val() == '') {
      $('#Crop').hide();
    }
    else{
      var url = "/plotmanagement_info/" + $('#id_farm').val() + '/' + $('#id_plot').val() + "/plotmanagement_info";
      $.getJSON(url, function(plotmanagement_info) {
       var  croppingsystem = plotmanagement_info[0];
		if (croppingsystem == 'Monocropping') {
		  crop = plotmanagement_info[2][0];
		  $('#Crop').hide();
		  $('#id_Crop').html($('<option>', {
				  value: crop,
				  text: crop,
		  }));
		  $('select[name=Crop] option:eq(1)').attr('selected', 'selected');
       }
       else if (croppingsystem == 'Intercropping') {

        $('#Crop').show();
        var options = '<option value="">Choose crop..</option>';
        crops = plotmanagement_info[2];
        for (var i = 0; i < crops.length; i++) {
          options += '<option value="' + crops[i] + '">' + crops[i] + '</option>';
          }
          $("#id_Crop").html(options);
          $("#id_Crop option:selected").attr('selected', 'selected');  
       }
	
      })
    }
  })
});
</script>
{% endblock 
{% endblock %}