{% extends 'base.html' %}
{% block title %}
    <title>Nursery</title>
{% endblock %}

{% block main_section %}

  <script>
  $(function() {
    $( "#id_date" ).datepicker({
        onSelect: function() {
        $('#nursery_form').formValidation('revalidateField', 'date');
    }
    });
  });
  $(function() {
    $( "#id_date_trasplanting" ).datepicker({
    	onSelect: function() {
        $('#nursery_form').formValidation('revalidateField', 'date_trasplanting');
    }
    });
  });
   $(function() {
    $( "#id_date_bed_preparation" ).datepicker({
    	onSelect: function() {
        $('#nursery_form').formValidation('revalidateField', 'date_bed_preparation');
    }
    });
  });
   $(function() {
    $( "#id_seeding_date" ).datepicker({
    	onSelect: function() {
        $('#nursery_form').formValidation('revalidateField', 'seeding_date');
    }
    });
  });

  </script>
<style>
  /* HOVER STYLES */
  div#pop-up,div#pop-up_labour{
      display: none;
      position: absolute;
      width: 280px;
      padding: 10px;
      background: #eeeeee;
      color: #000000;
      border: 1px solid #1a1a1a;
      font-size: 90%;
  }
</style>


<style>
    .ui-datepicker { position: relative; z-index: 10000 !important; }
  </style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <form class="well form-horizontal" action=" " method="post"  id="nursery_form">{% csrf_token %} 
<!-- Form Name -->
<fieldset>
<legend>Nursery Info</legend>


{% if user_village %}
<input type="hidden" id="uservillage" name="uservillage" value="{{user_village}}" readonly='readonly' />
{% elif researcher %}
<input type="hidden" id="researcher" name="researcher" value="{{researcher}}" readonly='readonly' />
{% elif user_country %}

{% endif %}
<label class="warning" for="message" id="message" style="color: red">{{message}}</label>


<div class="form-group"> 
    {{ nurseryform.date.errors }}
    <label for="date" class="col-md-4 control-label">Start date:</label>
        <div class="col-md-4 selectContainer">
          {{ nurseryform.date }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.farm.errors }}
    <label for="farm" class="col-md-4 control-label">Farm:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryform.farm }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.nurseryID.errors }}
    <label for="nurseryID" class="col-md-4 control-label">Nursery ID:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryform.nurseryID }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.area.errors }}
    <label for="area" class="col-md-4 control-label">Area:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
            {{ nurseryform.area }}<span class="input-group-addon">m<sup>2</sup></span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.date_bed_preparation.errors }}
    <label for="date_bed_preparation" class="col-md-4 control-label">Bed preparation date:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group input-group-unstyled">
        {{ nurseryform.date_bed_preparation }}<span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true" id='date_bed_preparation-info-circle'></i></span>
        </div>
      </div>
</div>

<!--HIDDEN/POP-UP DIV-->
<div id="pop-up">
  <p>
    <small><i>The bed preparation date can be the same as the start date of the nursery</i></small>
  </p>
</div>

<div class="form-group"> 
    {{ nurseryform.bed_length.errors }}
    <label for="bed_length" class="col-md-4 control-label">Bed length:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
             {{ nurseryform.bed_length }}<span class="input-group-addon">m</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.bed_width.errors }}
    <label for="bed_width" class="col-md-4 control-label">Bed width:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
          {{ nurseryform.bed_width }}<span class="input-group-addon">m</span>
          </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.bednumber.errors }}
    <label for="bednumber" class="col-md-4 control-label">Number of beds:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryform.bednumber }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.seeding_date.errors }}
    <label for="seeding_date" class="col-md-4 control-label">Seeding date:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryform.seeding_date }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.seed_per_bed.errors }}
    <label for="seed_per_bed" class="col-md-4 control-label">Seed quantity per bed:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
          {{ nurseryform.seed_per_bed }}<span class="input-group-addon">kg</span>
          </div>
        
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.seed_spacing_btn_bed.errors }}
    <label for="seed_spacing_btn_bed" class="col-md-4 control-label">Seed spacing btn row:</label>
        <div class="col-md-4 selectContainer">
           <div class="input-group">
          {{ nurseryform.seed_spacing_btn_bed }}<span class="input-group-addon">cm</span>
          </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.seed_spacing_within_a_bed.errors }}
    <label for="seed_spacing_within_a_bed" class="col-md-4 control-label">Seed spacing within a row:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
          {{ nurseryform.seed_spacing_within_a_bed }}<span class="input-group-addon">cm</span>
          </div>
        </div>
</div>


<div class="form-group"> 
    {{ nurseryform.quantity.errors }}
    <label for="quantity" class="col-md-4 control-label">Total seed used in a nursery:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
          {{ nurseryform.quantity }}<span class="input-group-addon">kg</span>
          </div>
        </div>
</div>


<div class="form-group"> 
    {{ nurseryform.seedtype.errors }}
    <label for="seedtype" class="col-md-4 control-label">Seed variety:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryform.seedtype }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.seedprice.errors }}
    <label for="seedprice" class="col-md-4 control-label">Total price paid for the seed:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
             {{ nurseryform.seedprice }}<span class="input-group-addon">{{ currency }}</span>
            </div>
        </div>
</div>

</fieldset>


<fieldset>
<legend>Labour Info&nbsp;&nbsp;<i class="fa fa-info-circle" aria-hidden="true" id='labour-info-circle'></i></legend>
<!--HIDDEN/POP-UP DIV-->
<div id="pop-up_labour">
  <p>
    <small><i>The labour represents both bed preperation and seeding</i></small>
  </p>
</div>
<div class="form-group"> 
    {{ nurseryform.labour.errors }}
    <label for="labour" class="col-md-4 control-label">Labour:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryform.labour }}
        </div>
</div>

<div id='hireddv'>
<div class="form-group"> 
    {{ nurseryform.hired_female_number.errors }}
    <label for="hired_female_number" class="col-md-4 control-label">Number of hired female:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryform.hired_female_number }}
        </div>
</div>
<div class="form-group"> 
    {{ nurseryform.hired_female_time.errors }}
    <label for="hired_female_time" class="col-md-4 control-label">Time taken per female labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryform.hired_female_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>
<div class="form-group"> 
    {{ nurseryform.hired_male_number.errors }}
    <label for="hired_male_number" class="col-md-4 control-label">Number of hired male:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryform.hired_male_number }}
        </div>
</div>
<div class="form-group"> 
    {{ nurseryform.hired_male_time.errors }}
    <label for="hired_male_time" class="col-md-4 control-label">Time taken per male labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryform.hired_male_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>
</div>

<div id='familydv'>
<div class="form-group"> 
    {{ nurseryform.family_female_number.errors }}
    <label for="family_female_number" class="col-md-4 control-label">Number of female family  labour:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryform.family_female_number }}
        </div>
</div>
<div class="form-group"> 
    {{ nurseryform.family_female_time.errors }}
    <label for="family_female_time" class="col-md-4 control-label">Time taken per female labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryform.family_female_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>
<div class="form-group"> 
    {{ nurseryform.family_male_number.errors }}
    <label for="family_male_number" class="col-md-4 control-label">Number of male family labour:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryform.family_male_number}}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryform.family_male_time.errors }}
    <label for="family_male_time" class="col-md-4 control-label">Time taken per male labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryform.family_male_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>

</div>

<div class="form-group"> 
    {{ nurseryform.wage.errors }}
    <label for="wage" class="col-md-4 control-label">Daily wage:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
             {{ nurseryform.wage}}<span class="input-group-addon">{{ currency }}</span>
            </div>            
        </div>
</div>

</fieldset>
<label for="message" style="color:#636363"><small>Note: If data is not available please enter -999 and not 0”</small></label>
 

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-default" >Submit</button>
  </div>
</div>
</form>
    
    </div><!-- /.container -->
    {% endblock %}
    
{% block extended_javascripts_code %}
<script>
  $(document).ready(function () {
    $('#nursery_form').formValidation({
        framework: 'bootstrap',
        icon: {
            //valid: 'glyphicon glyphicon-ok',
            //invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            nurseryID: {
                validators: {
                    notEmpty: {
                        message: 'Please fill in nursery ID' }
                        }
                    },         
            date: {
                message: 'The date field is required',
                validators: {
                    notEmpty: {
                        message: 'The date field is required and cannot be empty' }
                        },
                    date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'}
                    },
            seed_spacing_btn_bed: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill in nursery area' }
                        }
                    },
            
            seed_spacing_within_a_bed: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill in seed spacing within a bed' }
                        }
                    },
            quantity: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill in seed quantity' }
                        }
                    },
            seedprice: {
                validators: {
                  numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill in seed price' }
                        }
                    },
            area: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill in nursery area' }
                        }
                    },
            
            farm: {
                validators: {
                    notEmpty: {
                        message: 'Please select the field' }
                        }
                    },
            date_bed_preparation: {
                validators: {
                    //stringLength: { min: 2 },
                    notEmpty: { message: 'Please provide bed preparation date'
                    },
                    date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'}
                }
            },
            bed_length: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter bed length' }
                        }
                    },
            
            bed_width: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter bed width' }
                        }
                    },
            date_trasplanting: {
                validators: {
                    notEmpty: {
                        message: 'Please fill trasplanting date' }
                        },
                    date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'}
                    },
                    
            bednumber: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter bed number' }
                        }
                    },
            seed_per_bed: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter number of seed/bed' }
                        }
                    },
            seedtype: {
                validators: {
                    notEmpty: {
                        message: 'Please choose seedtype' }
                        }
                    },
            seeding_date: {
                validators: {
                    notEmpty: {
                        message: 'Please select seeding_date'
                        },
                    date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'}
                    
                        }
                    },
            family_female_time: {
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            family_male_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            hired_female_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            hired_male_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },    
            labour: {
                validators: {
                    notEmpty: {
                        message: 'Please choose labour' }
                        }
                    },
            hired_female_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired female' }
                }
            },
            hired_male_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired male' }
                }
            },
            family_female_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired family female' }
                }
            },
            
            family_male_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired family male' }
                }
            },
            wage: {
                validators:{
                        numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'Please fill the wage' }
                }
            },
            labour_time_taken: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter time taken' }
                        }
                    },
        }
    });
    /*
    $('.datepicker').on('changeDate show', function(e) {
    $('#nursery_form').bootstrapValidator('revalidateField', 'date');
  });
  */
});
</script>
<script>
$(window).load(function() {
  if ($('#id_labour').val() == '') {
    $('#familydv,#hireddv').hide();
  }
  else if ($('#id_labour').val() == 'Family')  {
      $('#familydv').show();
      $('#hireddv').hide();
      $("#id_hired_female_number").val();
      $("#id_hired_male_number").val();
      $("#id_family_female_time").val();
      $("#id_family_male_time").val();
  }
  else if ($('#id_labour').val() == 'Hired')  {
    $('#hireddv').show();
    $('#familydv').hide();
    $("#id_family_female_number").val();
    $("#id_family_male_number").val();
    $("#id_hired_female_time").val();
    $("#id_hired_male_time").val();
  }
  else{
      $('#familydv,#hireddv').show();
      $("#id_family_female_time,#id_family_male_time,#id_hired_female_time,#id_hired_male_time").val();
  }
  });
</script>
<script>
    $(document).ready(function() {
            $("#id_labour").change(function() {
              value=0;
                if ($(this).val() == '') {
                    $('#familydv,#hireddv').hide();
                }//family_female_time,family_male_time,hired_female_time,hired_male_time
                else if ($(this).val() == 'Family')  {
                    $('#familydv').show();
                    $("#id_family_female_number").val('');
                    $("#id_family_male_number").val('');
                    $("#id_family_female_time").val('');
                    $("#id_family_male_time").val('');
                    $('#hireddv').hide();
                    $("#id_hired_female_number").val(value);
                    $("#id_hired_male_number").val(value);
                    $("#id_hired_female_time").val(value);
                    $("#id_hired_male_time").val(value);
                }
                else if ($(this).val() == 'Hired')  {
                    $('#hireddv').show();
                    $('#familydv').hide();
                    $("#id_hired_female_number").val('');
                    $("#id_hired_male_number").val('');
                    $("#id_hired_female_time").val('');
                    $("#id_hired_male_time").val('');
                    $("#id_family_female_number").val(value);
                    $("#id_family_male_number").val(value);
                    $("#id_family_female_time").val(value);
                    $("#id_family_male_time").val(value);
                }
                else{
                    $('#familydv,#hireddv').show();
                    $("#id_hired_female_number").val('');
                    $("#id_hired_male_number").val(''); 
                    $("#id_family_female_number").val('');
                    $("#id_family_male_number").val('');
                    $("#id_family_female_time").val('');
                    $("#id_family_male_time").val('');
                    $("#id_hired_female_time").val('');
                    $("#id_hired_male_time").val('');
                }
            });
    });
</script>
<script>
$(window).load(function() {
  if (typeof $('#uservillage').val() === "undefined"){
    var url = "/select_all/";
    $.getJSON(url, function(farmers) {
    var options = '<option value="">Choose Field..</option>';
      for (var i = 0; i < farmers.length; i++) {
        options += '<option value="' + farmers[i].pk + '">' + farmers[i].fields['firstname'] + ' ' + farmers[i].fields['middlename'] + ' ' + farmers[i].fields['lastname'] + '</option>';
          }
          $("#id_farm").html(options);
          $("#id_farm option:selected").attr('selected', 'selected');
      });
    }
    else if (typeof $('#researcher').val() === "undefined"){
    var village = $('#uservillage').val();
    var url = "/farmer/" + village + "/farmers";
    $.getJSON(url, function(farmers) {
    var options = '<option value="">Choose Field..</option>';
      for (var i = 0; i < farmers.length; i++) {
        options += '<option value="' + farmers[i].pk + '">' + farmers[i].fields['firstname'] + ' ' + farmers[i].fields['middlename'] + ' ' + farmers[i].fields['lastname'] + '</option>';
          }
          $("#id_farm").html(options);
          $("#id_farm option:selected").attr('selected', 'selected');
      });
    }
});
</script>
<script>
$( function() {
  $('#id_seedtype').autocomplete({
      minLength:0,
      source: "/seedtype_select/"
    });
});

</script>
<script>
$(function() {
  var moveLeft = 20;
  var moveDown = 10;
  $('#date_bed_preparation-info-circle').hover(function(e) {
    $('div#pop-up').show()
    .css('top',e.pageY + moveDown)
    .css('left', e.pageX + moveLeft)
    .appendTo('body');
  },function(){
    $('div#pop-up').hide();
  });
  
  $('#date_bed_preparation-info-circle').mousemove(function(e) {
    $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
  });
  //for multiple popup::
  //http://creativeindividual.co.uk/2011/08/create-multiple-pop-up-divs-using-the-jquery-prev-method/
});

$(function() {
  var moveLeft = 20;
  var moveDown = 10;
  $('#labour-info-circle').hover(function(e) {
    $('div#pop-up_labour').show()
    .css('top',e.pageY + moveDown)
    .css('left', e.pageX + moveLeft)
    .appendTo('body');
  },function(){
    $('div#pop-up_labour').hide();
  });
  
  $('#labour-info-circle').mousemove(function(e) {
    $("div#pop-up_labour").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
  });
  //for multiple popup::
  //http://creativeindividual.co.uk/2011/08/create-multiple-pop-up-divs-using-the-jquery-prev-method/
});
</script>
{% endblock %}

