{% extends 'base.html' %}
{% block title %}
    <title>NurseryIrrigation</title>
{% endblock %}

{% block main_section %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script>
   $(function() {
    $( "#id_date" ).datepicker({
    	onSelect: function() {
        $('#nurseryirrigation_form').formValidation('revalidateField', 'date');
    }
    });
  });
  </script>
 <script>
  $(document).ready(function(){
    $('.timepicker').timepicker({
      timeFormat: 'HH:mm:ss',
      interval: 60,
      minTime: '0',
      dynamic: false,
      dropdown: true,
      scrollbar: true,
      change: function() {
            $('#nurseryirrigation_form').formValidation('revalidateField', 'time_started');
            $('#nurseryirrigation_form').formValidation('revalidateField', 'time_ended');
            
              setTimeout(function () {
                var time_started = $("#id_time_started").val().split(':')
                var time_ended = $("#id_time_ended").val().split(':');
                var hours1 = parseInt(time_started[0], 10), 
                    hours2 = parseInt(time_ended[0], 10),
                    mins1 = parseInt(time_started[1], 10),
                    mins2 = parseInt(time_ended[1], 10);
					
					sec1 = parseInt(time_started[2], 10),
                    sec2 = parseInt(time_ended[2], 10);
					
                    var hours = hours2 - hours1, mins = 0;
					
                    if(hours < 0) hours = 24 + hours;
					
                    if(mins2 >= mins1) {
                      mins = mins2 - mins1;
                    }
                    else {
                      mins = (mins2 + 60) - mins1;
                      hours--;
                    }
					
					if (sec2 >= sec1) {
                        sec = sec2 - sec1
                    }
					else{
					  sec = (sec2 + 60) - sec1;
                      mins--;
					}
					
                    totaltime = ((hours*60*60)+(mins*60)+sec)/60;
                    $("#id_total_time").val(totaltime.toFixed(5));
                    },0);
        }
    });
  });
  </script>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    

    <form class="well form-horizontal" action=" " method="post"  id="nurseryirrigation_form">{% csrf_token %} 
<!-- Form Name -->
<fieldset>
<legend>Nursery irrigation...</legend>

{% if user_village %}
<input type="hidden" id="uservillage" name="uservillage" value="{{user_village}}" readonly='readonly' />
{% elif researcher %}
<input type="hidden" id="researcher" name="researcher" value="{{researcher}}" readonly='readonly' />
{% elif user_country %}

{% endif %}
<label class="warning" for="message" id="message" style="color: red"><small><i>{{message}}</i></small></label>

<div class="form-group"> 
    {{ nurseryirrigationform.date.errors }}
    <label for="date" class="col-md-4 control-label">Date:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryirrigationform.date }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.climate.errors }}
    <label for="climate" class="col-md-4 control-label">Climate:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryirrigationform.climate }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.farm.errors }}
    <label for="farm" class="col-md-4 control-label">Farm:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryirrigationform.farm }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.nurseryID.errors }}
    <label for="nurseryID" class="col-md-4 control-label">Nursery ID:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryirrigationform.nurseryID }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.time_started.errors }}
    <label for="time_started" class="col-md-4 control-label">Time started:</label>
        <div class="col-md-4 selectContainer">
          {{ nurseryirrigationform.time_started }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.time_ended.errors }}
    <label for="time_ended" class="col-md-4 control-label">Time ended:</label>
        <div class="col-md-4 selectContainer">
          
            {{ nurseryirrigationform.time_ended }}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.total_time.errors }}
    <label for="total_time" class="col-md-4 control-label">Total time:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
             {{ nurseryirrigationform.total_time }}<span class="input-group-addon">mins</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.bucket_volume.errors }}
    <label for="bucket_volume" class="col-md-4 control-label">Bucket volume:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
             {{ nurseryirrigationform.bucket_volume }}<span class="input-group-addon">L</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.bucket_numbers.errors }}
    <label for="bucket_numbers" class="col-md-4 control-label">Number of buckets:</label>
        <div class="col-md-4 selectContainer">
        {{ nurseryirrigationform.bucket_numbers }}
        </div>
</div>


<div class="form-group"> 
    {{ nurseryirrigationform.total_volume.errors }}
    <label for="total_volume" class="col-md-4 control-label">Total volume:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
             {{ nurseryirrigationform.total_volume }}<span class="input-group-addon">m<sup>3</sup></span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.irrigation_depth.errors }}
    <label for="irrigation_depth" class="col-md-4 control-label">Irrigation depth:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
             {{ nurseryirrigationform.irrigation_depth }}<span class="input-group-addon">m</span>
            </div>
        </div>
</div>

</fieldset>

<fieldset>
<legend>Labour Info</legend>

<div class="form-group"> 
    {{ nurseryirrigationform.labour.errors }}
    <label for="labour" class="col-md-4 control-label">Labour:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryirrigationform.labour }}
        </div>
</div>

<div id='hireddv'>
<div class="form-group"> 
    {{ nurseryirrigationform.hired_female_number.errors }}
    <label for="hired_female_number" class="col-md-4 control-label">Number of hired female:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryirrigationform.hired_female_number }}
        </div>
</div>
<div class="form-group"> 
    {{ nurseryirrigationform.hired_female_time.errors }}
    <label for="hired_female_time" class="col-md-4 control-label">Time taken per female labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryirrigationform.hired_female_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>
<div class="form-group"> 
    {{ nurseryirrigationform.hired_male_number.errors }}
    <label for="hired_male_number" class="col-md-4 control-label">Number of hired male:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryirrigationform.hired_male_number }}
        </div>
</div>
<div class="form-group"> 
    {{ nurseryirrigationform.hired_male_time.errors }}
    <label for="hired_male_time" class="col-md-4 control-label">Time taken per male labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryirrigationform.hired_male_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>
</div>

<div id='familydv'>
<div class="form-group"> 
    {{ nurseryirrigationform.family_female_number.errors }}
    <label for="family_female_number" class="col-md-4 control-label">Number of female family  labour:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryirrigationform.family_female_number }}
        </div>
</div>
<div class="form-group"> 
    {{ nurseryirrigationform.family_female_time.errors }}
    <label for="family_female_time" class="col-md-4 control-label">Time taken per female labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryirrigationform.family_female_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.family_male_number.errors }}
    <label for="family_male_number" class="col-md-4 control-label">Number of male family labour:</label>
        <div class="col-md-4 selectContainer">
            {{ nurseryirrigationform.family_male_number}}
        </div>
</div>

<div class="form-group"> 
    {{ nurseryirrigationform.family_male_time.errors }}
    <label for="family_male_time" class="col-md-4 control-label">Time taken per male labour:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            {{ nurseryirrigationform.family_male_time}}<span class="input-group-addon">hr(s)</span>
            </div>
        </div>
</div>

</div>

<div class="form-group"> 
    {{ nurseryirrigationform.wage.errors }}
    <label for="wage" class="col-md-4 control-label">Daily wage:</label>
        <div class="col-md-4 selectContainer">
            <div class="input-group">
             {{ nurseryirrigationform.wage }}<span class="input-group-addon">{{ currency }}</span>
            </div>
        </div>
</div>
</fieldset>
<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-default" >Submit</button>
  </div>
</div>
</form>
    
    </div><!-- /.container -->
    {% endblock %}
    
{% block extended_javascripts_code %}
<script>
        $(document).ready(function () {
    $('#nurseryirrigation_form').formValidation({
        framework: 'bootstrap',
        icon: {
            //valid: 'glyphicon glyphicon-ok',
            //invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            nurseryID: {
                validators: {
                    notEmpty: {
                        message: 'Please fill in nursery ID' }
                        }
                    },         
            date: {
                validators: {
                    date: {
                            format: 'MM/DD/YYYY',
                            message: 'The date is not a valid'},
                    notEmpty: {
                        message: 'Please fill in date' }
                        }
                    },
            farm: {
                validators: {
                    notEmpty: {
                        message: 'Please select the field' }
                        }
                    },
            climate: {
                validators: {
                    //stringLength: { min: 2 },
                    notEmpty: { message: 'Please choose climate' }
                }
            },
              
            bucket_volume: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please fill volume of the bucket' }
                        }
                    },
            
            irrigation_depth: {
            	enabled:false,
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter bucket number' }
                        }
                    },
            bucket_numbers: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter bucket number' }
                        }
                    },
            family_female_time: {
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            family_male_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            hired_female_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            hired_male_time:{
                validators:{
                        numeric: {
                            message: 'invalid number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'This field is required' }
                }
            },
            labour: {
                validators: {
                    notEmpty: {
                        message: 'Please choose labour' }
                        }
                    },
            hired_female_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired female' }
                }
            },
            hired_male_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired male' }
                }
            },
            family_female_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired family female' }
                }
            },
            labour_time_taken: {
                validators: {
                    numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                    notEmpty: {
                        message: 'Please enter time taken' }
                        }
                    },
            family_male_number: {
                validators:{
                        integer: {
                          message: 'invalid, must be an integer'
                        },
                        notEmpty:{
                                message:'Please fill number of hired family male' }
                }
            },
            wage: {
                validators:{
                        numeric: {
                            message: 'The value is not a number',
                            thousandsSeparator: '',
                            decimalSeparator: '.'
                        },
                        notEmpty:{
                                message:'Please fill the wage' }
                }
            },
          
          
           time_started: {
                validators: {
                    notEmpty: {
                        message: 'Please select start time'
                        },
                        callback: {
                        message: 'The start time must be earlier then the end one',
                        callback: function(value, validator, $field) {
                            var endTime = validator.getFieldElements('time_ended').val();
                            if (endTime === '') {
                                  return true;
                                }
                            var startHour    = parseInt(value.split(':')[0], 10),
                                startMinutes = parseInt(value.split(':')[1], 10),
								startSeconds = parseInt(value.split(':')[2], 10),
                                endHour      = parseInt(endTime.split(':')[0], 10),
                                endMinutes   = parseInt(endTime.split(':')[1], 10),
								endSeconds = parseInt(endTime.split(':')[2], 10);

                            if ((startHour < endHour) || (startHour == endHour && startMinutes < endMinutes) || (((startHour == endHour) && (startMinutes == endMinutes)) && startSeconds < endSeconds)) {
							 //if (endHour > startHour || (endHour == startHour && endMinutes > startMinutes) || (endHour == startHour && endMinutes  == startMinutes && endSeconds > startSeconds)) {
                                // The end time is also valid
                                // So, we need to update its status
                                validator.updateStatus('time_ended', validator.STATUS_VALID, 'callback');
                                return true;
                                  }
                            return false;
                            }
                        }
                      } 
                    },
                    
            time_ended: {
                validators: {
                    //stringLength: { min: 2 },
                    notEmpty: {
                      message: 'Please select end time'
                      },
                callback: {
                        message: 'The end time must be later then the start one',
                        callback: function(value, validator, $field) {
                            var startTime = validator.getFieldElements('time_started').val();
                            if (startTime == '') {
                                  return true;
                                }
                            var startHour    = parseInt(startTime.split(':')[0], 10),
                                startMinutes = parseInt(startTime.split(':')[1], 10),
								startSeconds = parseInt(startTime.split(':')[2], 10),
                                endHour      = parseInt(value.split(':')[0], 10),
                                endMinutes   = parseInt(value.split(':')[1], 10),
								endSeconds = parseInt(value.split(':')[2], 10);
								//alert(endSeconds);

                            if ((endHour > startHour) || (endHour == startHour && endMinutes > startMinutes) || (((endHour == startHour) && (endMinutes  == startMinutes)) && (endSeconds > startSeconds))) {
                                // The start time is also valid
                                // So, we need to update its status
                                validator.updateStatus('time_started', validator.STATUS_VALID, 'callback');
                                return true;
                            }
                            return false;
                        }
                    }
                }
            },
                 
        }
    });
});
</script>
  
<script>
$(window).load(function() {
  if ($('#id_labour').val() == '') {
    $('#familydv,#hireddv').hide();
  }
  else if ($('#id_labour').val() == 'Family')  {
      $('#familydv').show();
      $('#hireddv').hide();
      $("#id_hired_female_number").val();
      $("#id_hired_male_number").val();
      $("#id_family_female_time").val();
      $("#id_family_male_time").val();
  }
  else if ($('#id_labour').val() == 'Hired')  {
    $('#hireddv').show();
    $('#familydv').hide();
    $("#id_family_female_number").val();
    $("#id_family_male_number").val();
    $("#id_hired_female_time").val();
    $("#id_hired_male_time").val();
  }
  else{
      $('#familydv,#hireddv').show();
      $("#id_family_female_time,#id_family_male_time,#id_hired_female_time,#id_hired_male_time").val();
  }
  });
</script>
<script>
    $(document).ready(function() {
            $("#id_labour").change(function() {
              value=0;
                if ($(this).val() == '') {
                    $('#familydv,#hireddv').hide();
                }//family_female_time,family_male_time,hired_female_time,hired_male_time
                else if ($(this).val() == 'Family')  {
                    $('#familydv').show();
                    $("#id_family_female_number").val('');
                    $("#id_family_male_number").val('');
                    $("#id_family_female_time").val('');
                    $("#id_family_male_time").val('');
                    $('#hireddv').hide();
                    $("#id_hired_female_number").val(value);
                    $("#id_hired_male_number").val(value);
                    $("#id_hired_female_time").val(value);
                    $("#id_hired_male_time").val(value);
                }
                else if ($(this).val() == 'Hired')  {
                    $('#hireddv').show();
                    $('#familydv').hide();
                    $("#id_hired_female_number").val('');
                    $("#id_hired_male_number").val('');
                    $("#id_hired_female_time").val('');
                    $("#id_hired_male_time").val('');
                    $("#id_family_female_number").val(value);
                    $("#id_family_male_number").val(value);
                    $("#id_family_female_time").val(value);
                    $("#id_family_male_time").val(value);
                }
                else{
                    $('#familydv,#hireddv').show();
                    $("#id_hired_female_number").val('');
                    $("#id_hired_male_number").val(''); 
                    $("#id_family_female_number").val('');
                    $("#id_family_male_number").val('');
                    $("#id_family_female_time").val('');
                    $("#id_family_male_time").val('');
                    $("#id_hired_female_time").val('');
                    $("#id_hired_male_time").val('');
                }
            });
    });
</script>

<script>
$(window).load(function() {
  if (typeof $('#uservillage').val() === "undefined"){
    var url = "/select_all/";
    $.getJSON(url, function(farmers) {
    var options = '<option value="">Choose Field..</option>';
      for (var i = 0; i < farmers.length; i++) {
        options += '<option value="' + farmers[i].pk + '">' + farmers[i].fields['firstname'] + ' ' + farmers[i].fields['middlename'] + ' ' + farmers[i].fields['lastname'] + '</option>';
          }
          $("#id_farm").html(options);
          $("#id_farm option:selected").attr('selected', 'selected');
      });
    }
    else if (typeof $('#researcher').val() === "undefined"){
    var village = $('#uservillage').val();
    var url = "/farmer/" + village + "/farmers";
    $.getJSON(url, function(farmers) {
    var options = '<option value="">Choose Field..</option>';
      for (var i = 0; i < farmers.length; i++) {
        options += '<option value="' + farmers[i].pk + '">' + farmers[i].fields['firstname'] + ' ' + farmers[i].fields['middlename'] + ' ' + farmers[i].fields['lastname'] + '</option>';
          }
          $("#id_farm").html(options);
          $("#id_farm option:selected").attr('selected', 'selected');
      });
    }
});
</script>

<script>
$(document).ready(function() {
  $("#id_farm").change(function() {
    if ($(this).val() == '') {
      $("#id_nurseryID").html("<option>Choose nursery..</option>");
      $("#id_nurseryID").attr('disabled', true);
      }
      else {
        var url = "/id_nurseryID/" + $(this).val() + "/nurseryIDs";
        $.getJSON(url, function(nurseries) {
        var options = '<option value="">Choose nursery..</option>';
        for (var i = 0; i < nurseries.length; i++) {
          options += '<option value="' + nurseries[i].pk + '">' + nurseries[i].pk + '</option>';
        }
        $("#id_nurseryID").html(options);
        $("#id_nurseryID option:first").attr('selected', 'selected');
        $("#id_nurseryID").attr('disabled', false);
      });
    }
  });
});
</script>

<script>
$(document).ready(function () {
  $('#id_bucket_numbers,#id_bucket_volume,#id_time_started,#id_time_ended,#id_total_volume').on('propertychange change click keyup input paste', function () {
    setTimeout(function () {
      var total_volume = $("#id_bucket_numbers").val() * ($("#id_bucket_volume").val() / 1000);
        $('#id_total_volume').val(total_volume.toFixed(3));
    }, 0);
  });
});
 
</script>

<!--
<script>
$(document).ready(function () {
  $('#id_time_started,#id_time_ended').on('keyup', function () {
    setTimeout(function () {
      
      id_time_ended
    var hours = parseInt($("#id_time_ended").val().split(':')[0], 10) - parseInt($("#id_time_started").val().split(':')[0], 10);
      if(hours < 0) hours = 24 + hours;
        $('#id_total_time').val(hours);
    }, 0);
  });
});
</script>
-->
<script>
/*
$(window).load(function() {
  if ($('#id_nurseryID').val() == '') {
  
  }
  else {
    //code
  }
});
*/
$(document).ready(function() {
  $("#id_nurseryID").change(function() {
    if ($(this).val() == '') {

    }
    else {
        var url = "/nursery_area/" + $(this).val() + "/" + $('#id_farm').val() + "/nurseries";
          $.getJSON(url, function(nursery_bed_area) {
          var nursery_area =nursery_bed_area[0];
          $('#id_nurseryID,#id_bucket_numbers,#id_bucket_volume,#id_total_volume,#id_time_started,#id_time_ended').on('propertychange change click keyup', function () {
          setTimeout(function () {
            var irrigation_depth = $('#id_total_volume').val() / nursery_area;
            //alert(irrigation_depth);
            $('#id_irrigation_depth').val(irrigation_depth.toFixed(3));
          }, 0);
          });
      });
    }
  });
});

</script>
{% endblock %}

